{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    "stage-2"
  ],
  "plugins": [
    "transform-vue-jsx", 
    "transform-runtime"
    //如果启用下方按需加载就会报Antd is not defined
    // ["import", { "libraryName": "ant-design-vue", "style": "css" }]  
  ]
}
